# fly.toml app configuration file generated for agentic-quiz-generator on 2026-01-04T14:14:37+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'quizai'
primary_region = 'fra'

[build]

[env]
  PORT = '8080'

[[mounts]]
  source = 'quiz_data'
  destination = '/app/quizzes'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 2
  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/health"

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
